:host {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: calc(50% - 17.5px);
  border-radius: 17.5px;
  z-index: 32767;

  mat-spinner {
    margin: 5px;
    background-color: #fff;
    border-radius: 12.5px;
  }
}
